@*@model OfferViewModel
@{
    Layout = "_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@Model.Title</h2>
                <hr class="primary">
                <p>You need to send <b>@Model.ToSend</b> to <b>@Model.EscrowAddress</b>, if the other party get unresponsive, you will get back money on your <a href="@Model.WalletUrl">BTCPay store's wallet</a> after @Model.RefundTime.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                
            </div>
        </div>
    </div>
</section>*@
